body {
    background-image: url("stary.jpg");
}
#graphicDiv {
    background: rgba(122, 122, 122, 0.5);
    margin-bottom: 20px;
}
#pollDiv {
    background: rgba(122, 122, 122, 0.5);
    margin-bottom: 20px;
}
#resultsDiv {
    background: rgba(122, 122, 122, 0.5);
    margin-bottom: 20px;
}
#newsDiv {
    background: rgba(122, 122, 122, 0.5);
}
h5 {
    font-family: 'Orbitron', sans-serif;
    color: rgb(64, 247, 47);
    text-shadow: 0 0 10px rgb(5, 155, 0);
}
h1 {
    font-family: 'Orbitron', sans-serif;
    color: rgb(64, 247, 47);
    text-shadow: 0 0 10px rgb(5, 155, 0);
    text-align: center;
}
.card-header {
    font-family: 'Orbitron', sans-serif;
    color: rgb(64, 247, 47);
    text-shadow: 0 0 10px rgb(5, 155, 0); 
}
p {
    font-family: 'Orbitron', sans-serif;
    color: rgb(64, 247, 47);
    text-shadow: 0 0 10px rgb(5, 155, 0); ;
}
.custom-control-label {
    font-family: 'Orbitron', sans-serif;
    color: rgb(64, 247, 47);
    text-shadow: 0 0 10px rgb(5, 155, 0);    
}
.modal-content {
    background: rgba(1, 112, 6, 0.5);
    margin-bottom: 20px;
}
.btn-primary {
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(64, 247, 47);
    border: 2px solid rgb(64, 247, 47);
    box-shadow: 0 0 10px rgb(5, 155, 0); 
}
.btn-secondary {
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(247, 47, 47);
    border: 2px solid rgb(247, 47, 47);
    box-shadow: 0 0 10px rgb(167, 2, 2);   
}
.btn-primary:hover {
    background-color: rgb(174, 252, 167);
    color: white;
    box-shadow: 0 0 10px rgb(124, 250, 112);
    border: 2px solid rgb(174, 252, 167);
}
.btn-primary:active {
    background-color: rgb(255, 255, 255);
    color: white;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}
.btn-primary:focus {
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(64, 247, 47);
    border: 2px solid rgb(64, 247, 47);
    box-shadow: 0 0 10px rgb(5, 155, 0); 
}
.btn-secondary:hover {
    background-color: rgb(255, 145, 145);
    color: white;
    box-shadow: 0 0 10px rgb(255, 112, 112);
    border: 2px solid rgb(255, 145, 145);
}
.card-body {
    font-family: 'Orbitron', sans-serif;
    color: rgb(64, 247, 47);
    text-shadow: 0 0 10px rgb(5, 155, 0);
}
.jumbotron{
    background: rgba(122, 122, 122, 0.5);
}
